#navbar{
    background-color: #610909;
}
#col{
    text-align: center
}
#title{
    text-align: center
}
#text{
    text-align: justify
}
#desc{
    margin:10px
}
#desc h5{
    font-weight: bold
}
#apply_button{
    text-decoration: none;
    border: 0.2px solid #000;
    color: #fff;
    background: #610909;
    padding: 10px;
    border-radius: 10px;
    margin:10px
}
#input{
    width: 100%
}
#select{
    margin-top: 11px
}
#problems{
    padding: 10px;
    margin: 20px
}
#finish_button {
    text-align: left;
}
#stop_button {
    text-align: right;
}
#thanks{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;    
}